<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="033a3fcb-68f9-454c-bc2d-9537f48c6e92" Publisher="CN=Makoto" Version="1.0.0.0" />
  <Properties>
    <DisplayName>FilePickerSample</DisplayName>
    <PublisherDisplayName>Makoto</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="FilePickerSample.App">
      <VisualElements DisplayName="FilePickerSample" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="FilePickerSample" ForegroundText="light" BackgroundColor="#1259fb">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>